@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-white: #fff;
  --clr-blue1: #3498db;
  --clr-blue2: #2980b9;
  --clr-grey1: #7f8c8d;
  --clr-grey2: #2c3e50;
  --clr-black1: #222;
  --clr-black2: #000;
  --clr-green1: #1abc9c;
  --clr-green2: #16a085;
  --clr-red: #c0392b;

}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
  transition: all .3s;
}

li {
  display: inline-block;
  list-style-type: none;
}

span { display: inline-block; }

input[type],
select {
  border: none;
  outline: none;
}

p { line-height: 1.5; }

.section-heading {
  color: var(--clr-grey2);
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

::selection {
  background-color: var(--clr-green2);
  color: var(--clr-white);
}

html.overflow-hidden { overflow: hidden; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 100%;
  padding: 12px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(to right, var(--clr-green2), var(--clr-blue2));
}

header .logo {
  width: 120px;
  flex-shrink: 0;
  mix-blend-mode: multiply;
}

.menu-toggle {
  width: 30px;
  height: 30px;
  display: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.menu-toggle .bar {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  background-color: var(--clr-grey2);
  text-indent: -99999px;
  transition: all .3s;
}

.bar-one {
  top: 0;
  box-shadow: 0 13px 0 var(--clr-grey2);
}

.bar-two { bottom: 0; }

.bar-one.active {
  top: 50%;
  box-shadow: none;
  transform: translateY(-50%) rotate(45deg);
}

.bar-two.active {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.nav-menu a {
  color: var(--clr-white);
  font-weight: 600;
  text-transform: capitalize;
}

.nav-menu a.active { color: var(--clr-grey2); }
.nav-menu a:hover { color: var(--clr-grey2); }

.logout-button a {
  padding: 7px 12px;
  border-radius: 5px;
  text-transform: capitalize;
  color: var(--clr-white);
  background-color: var(--clr-blue1);
  box-shadow: 0 0 3px var(--clr-white);
}

.logout-button a:hover {
  background-color: var(--clr-blue2);
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/* "index.html" styling starts here */

/* banner section starts here */

.banner .wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2));
}

.banner-figure {
  width: 100%;
  z-index: -1;
}

.banner-figure img {
  object-fit: cover;
  object-position: center;
}

.banner-heading {
  position: absolute;
  z-index: 1;
  font-size: 42px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: center;
  color: var(--clr-white);
  text-shadow: 0 0 4px var(--clr-black1);
}

/* banner section ends here */

/* about-league section starts here */

.about-league .wrapper {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.league-info,
.league-history {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  color: var(--clr-grey2);
}

.about-league p::first-letter {
  text-transform: uppercase;
}

/* about-league section ends here */

/* "index.html" styling ends here */

/* ************************************** */

/* "clublist.html" & "matchdetails.html" styling starts here */

.club-summary .wrapper,
.match-details .wrapper {
  padding: 60px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.club-summary .input-group,
.match-details .input-group {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: capitalize;
}

.input-group label {
  color: var(--clr-grey2);
  font-weight: 600;
}

.input-group select {
  padding: 10px;
  background-color: var(--clr-grey1);
  color: var(--clr-grey2);
  cursor: pointer;
  font-size: 14px;
  text-transform: capitalize;
}

.club-summary-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.club-summary-list li {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  text-transform: capitalize;
}

.match-date {
  flex: 1 0 100%;
  color: var(--clr-black1);
  font-size: 24px;
}

.team-summary {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(var(--clr-blue1), var(--clr-blue2));
}

.team-one-summary,
.team-two-summary {
  flex-basis: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-summary h4 {
  color: var(--clr-white);
  font-size: 20px;
}

.match-details h4 { cursor: pointer; }

.team-summary span {
  color: var(--clr-white);
  font-size: 28px;
  font-weight: 600;
  text-shadow: 1px 1px 2px var(--clr-black2);
}

.show-more-button { display: none; }
.show-more-button.active { display: block; }

.show-more-button a {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: var(--clr-green2);
  color: var(--clr-white);
  font-weight: 600;
  text-transform: capitalize;
}

.show-more-button a:hover { background-color: var(--clr-blue2); }

/* "clublist.html" & "matchdetails.html" styling ends here */

/* "login.html" styling starts here */

.login-register .wrapper {
  width: 100%;
  max-height: 100vh;
  height: 100vh;
  padding: 95px 0 40px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  background: url('../images/logo.svg') no-repeat top center;
  background-color: var(--clr-grey1);
  justify-content: center;
}

.form-cards {
  min-width: 360px;
  width: 30%;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1500px;
}

.login-card,
.signup-card {
  width: 100%;
  padding: 20px 10px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  flex-direction: column;
  gap: 15px;
  transition: all .3s;
}

.login-card {
  background-color: var(--clr-blue2);
  transform: rotateY(0deg);
  visibility: visible;
}

.login-card.active {
  transform: rotateY(180deg);
  visibility: hidden;
}

.signup-card {
  background-color: var(--clr-green2);
  visibility: hidden;
  transform: rotateY(180deg);
}

.signup-card.active {
  transform: rotateY(0deg);
  visibility: visible;
}

.form-cards h2 {
  color: var(--clr-white);
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}

.form-cards form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label {
  color: var(--clr-white);
  font-size: 16px;
  text-transform: capitalize;
}

.input-group input {
  padding: 10px;
  border-radius: 5px;
  color: var(--clr-white);
  font-size: 15px;
}

.login-card .input-group input { background-color: var(--clr-blue1) }
.signup-card .input-group input { background-color: var(--clr-green1); }
.input-group input::placeholder { color: var(--clr-grey2); }
.input-control { text-align: center; }

.input-control input {
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--clr-grey2);
  font-size: 15px;
  font-weight: 600;
  text-transform: capitalize;
  transition: all .3s;
}

.input-control input:hover { opacity: .7; }

.errorAlert {
  color: var(--clr-red);
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0;
  text-shadow: 0 1px 1px var(--clr-black2);
  visibility: hidden;
}

.errorAlert.active {
  opacity: 1;
  visibility: visible;
}

.errorAlert::before { content: '* '; }

.form-cards p {
  color: var(--clr-grey2);
  font-size: 14px;
}

.form-cards p::first-letter { text-transform: capitalize; }

.form-cards p span {
  color: var(--clr-black1);
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  text-transform: capitalize;
}

.form-cards p span:hover { text-decoration: underline; }

/* "login.html" styling ends here */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

footer .wrapper {
  width: 100%;
  padding: 30px 7%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  background-color: var(--clr-grey2);
  text-transform: capitalize;
}

.footer-logo {
  width: 150px;
  mix-blend-mode: multiply;
}

.footer-nav-menu,
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.footer-nav-menu a { color: var(--clr-grey1); }
.footer-nav-menu a:hover { text-decoration: underline; }

.footer-social-list a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  background-color: var(--clr-grey1);
  color: var(--clr-grey2);
  font-size: 26px;
  text-indent: -99999px;
}

.footer-social-list a:hover {
  background-color: var(--clr-blue2);
  color: var(--clr-white);
}

.footer-social-list a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'fontAwesome';
  text-indent: 0;
  transform: translate(-50%, -50%);
}

.footer-social-list li:nth-child(1) a::before { content: '\f09a'; }
.footer-social-list li:nth-child(2) a::before { content: '\f16d'; }
.footer-social-list li:nth-child(3) a::before { content: '\f16a'; }
.footer-social-list li:nth-child(4) a::before { content: '\f099'; }
.footer-copyright span { color: var(--clr-grey1); }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  